
    body {
        font-family: 'Roboto', sans-serif;
    }

    body {

        margin: 0 auto;
    }

    a {
        color: aliceblue;
        text-decoration: none;
        font-weight: bold;
    }


    .menu {
        padding: 0;
        margin: 0;
        width: 100%;
        border-bottom: 0;
    }

    li:hover {
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
        transform: scale(1.1);
    }

    .contenedor{
        margin-bottom: 1em;
    }

    .menu li {
        display: table-cell;
        width: 1%;
        float: none;
        margin: 2px;
        padding: 20px;
        text-align: center;
    }

    #asp-link{
        background-color:#8338e6;
    }

    #laravel-link{
        background-color:#ef6157;
    }

    #react-link{
        background-color:#50d1e8;
    }

    #angular-link{
        background-color:#e64064;
    }