* {
    box-sizing: border-box;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #444444;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.margin-top-5 {
    margin-top: 5em;
}

.margin-top-3 {
    margin-top: 3em;
}

.margin-top-1 {
    margin-top: 1em;
}

.button {
    padding: 0.375rem 0.75rem;
    /* border-radius: 0.25rem; */
    margin-right: 1em;
}

.button-block {
    padding: 0.375rem 0.75rem;
    display: block;
    width: 100%;
}

.button-blue {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.button-red {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.margin-top-5 {
    margin-top: 5em;
}

.margin-bottom-3{
    margin-bottom: 3em;
}

input {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    border: 0.5px solid rgb(154, 154, 154);
    outline: none;
}

button {
    border: transparent;
    cursor: pointer;
}

input:focus {
    border: 0.5px solid #007bff;
}

/* //////////////// CARD //////////// */

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 43%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 0px 16px;
}
